h1,h3,h4 { 
    color:teal; 
    text-align: center;
} 
.container {
    width: 30em;
    height: 30em;
	overflow: auto;
    // white-space: nowrap;
    border: 1px solid black;
    text-align: center;
//    float: right;
}
.result{
    float: left;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}
table{
    // max-width: 200px;
    table-layout: fixed;
    margin: auto;
}
	table, th, td {
		border: 1px solid black;
	}
	
	th, td {
		padding: .5em 1em;
	}